.inputserach_btn_fillter {
    display: flex;
}

.fillterbtn {
    gap: 20px;
    margin-bottom: 0px;
    height: fit-content;
}

.inputserach_btn_fillter {
    float: right;
    width: 100%;
    height: fit-content;

}

.containerinputbnt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
