.breadcrumb {
    margin-top: 20px;
}

.inputseach_FillterInput{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 18px;

}

.container_call {
    background-color: rgb(255, 255, 255);
}


.body_content {
    background: var(--white, #FFF);
    border-radius: 8px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    

}

.container_call {
    display: flex;
    margin: 0px;
    gap: 18px;
    padding: 0px 20px 20px 20px;
    

}

@media (max-width: 768px) {
    .container_call {
        flex-direction: column;
        /* Chuyển từ ngang sang dọc */
        gap: 20px;
        /* Tăng khoảng cách giữa 2 phần khi dọc */
        padding: 0px 15px;
        /* Giảm padding cho mobile */
    }
}

.tablehome {
    background-color: #FFF;
    border-radius: 8px;
    margin-top: 24px;
    padding: 20px;
}

.search_fillter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 16px;
    width: 100%;
}

h1 {
    color: var(--Primary-Text, rgba(0, 0, 0, 0.88));
    font-size: var(--font-size-lg, 18px);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 18px;
    margin-top: 0px;
    ;
}