.breadcrumb {
    margin-top: 20px;
}

.card_container {
    background-color: aqua;
}

.body_content {
    background: var(--white, #FFF);
    border-radius: 8px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}

.tablehome {
    background-color: #FFF;
    border-radius: 8px;
    margin-top: 24px;
    padding: 20px;
}

.search_fillter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 16px;
    width: 100%;
}

h1 {
    color: var(--Primary-Text, rgba(0, 0, 0, 0.88));
    font-size: var(--font-size-lg, 18px);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 18px;
    margin-top: 0px;
    ;
}