.breadcrumb {
    margin-top: 20px;
}
.body_content {
    background: var(--white, #FFF);
    display: flex;
    padding: 19px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}